body {
	margin: 0px;
	background: #222;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #aaa;
}

#content {
	margin: 10px;
}

#draw-wrapper {
	display: flex;
	justify-content: flex-start;
}

#draw-space {
	width: 15px;
}