body {
  margin: 0;
  padding: 0;

  /*
  font-family: 'Oswald', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Abel', sans-serif;
  */
  font-family: 'Raleway', sans-serif;
}

.header {
  background-color: #333333;
  padding: 1% 7.5% 1% 7.5%;
}

.header h1 {
  color: #32C4D1;
  font-size: 25px;
  letter-spacing: 5px;
  display: inline;
  text-transform: uppercase;
}

.header ul {
  display: inline;
  float: right;
}

.header li {
  display: inline;

  color: white;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 40px;
}

.container--text {
  background-color: #333333;
  margin: 1% 5% 1% 5%;
  padding: 1% 2.5% 1% 2.5%;
  border-top: 30px solid grey;
  color: white;
}

#codeLine_1, #codeLine_2 {
  color: rgb(100, 200, 100);
}

#textInput {
  resize: none;
  width: 60%;
  height: 30%;
}

#textResult {
  resize: none;
  width: 30%;
  height: 30%;
}

iframe {
  width: 30%;
  height: 30%;
}

@keyframes fadeInCodeContainer {
  0% {

  }
  100% {
    filter: blur(0px);
  }
}
